@charset "utf-8";
@import url("common.css");


html {
  font-size: 100%;
}
body {
  color: #24292e;
}
img {
  max-width: 100%;
}


/*-------------------------------------------
ヘッダー
-------------------------------------------*/
header{
  width: 960px;
  margin: 0 auto;
  padding: 4% 0;
  display: flex;
  justify-content:space-around;

}
header nav ul{
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
}
header nav ul li{
  list-style-type: none;
  padding-right: 3%;
}
header nav img{
  width: 5%;
  height: 3px;
}
/*-------------------------------------------
Mainvisual
-------------------------------------------*/
#mainvisial{
  height: 420px;
  background-image: url(../images/mainvisual-pc.jpg);
}
#mainvisial img{
  width: 100%;
}
/*-------------------------------------------
About
-------------------------------------------*/
#about{
  width: 960px;
  padding: 4% 0;
  border: 1px solid #999;
  margin: 0 auto;
}
#about h2{
  text-align: center;
}
#about h3{
  line-height: 1.5em;
}


/*-------------------------------------------
Works
-------------------------------------------*/

#works{
  width: 960px;
  padding: 4% 0;
  border: 1px solid #999;
  margin: 0 auto;
}
#works h2{
  text-align: center;
}

#works ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;


}
#works ul li{
 list-style: none;
 width: 31%;

}


/*-------------------------------------------
News
-------------------------------------------*/
#news{
  width: 960px;
  padding: 4% 0;
  border: 1px solid #999;
  margin: 0 auto;
}
#news h2{
  text-align: center;
}
#news dl {
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px #c8c8c8;

}
#news dt {
  width: 15%;
  border-bottom: solid 1px #c8c8c8;
  line-height: 4em;
}
#news dd {
  width: 85%;
  border-bottom: solid 1px #c8c8c8;
  margin-left: 0;
  line-height: 4em;

}

/*-------------------------------------------
Contact
-------------------------------------------*/
#contact{
  width: 960px;
  padding: 4% 0;
  border: 1px solid #999;
  margin: 0 auto;

}
#contact h2{
  text-align: center;
}
.btn_send{
  text-align: center;
}
button {
  /* ブラウザ特有のスタイルを無効に */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 80px;
  height: 3em;

  /* 整える */
  margin: 1em 0; /* 前後の隙間 */
  padding: 0.6em 1em; /* 塗りの余白 */
  font-size: 1em; /* フォントサイズ */
  background-color: #1aa1ff; /* 背景色 */
  color: #FFF; /* テキストカラー */
  cursor: pointer; /* カーソルを指マークに */
  border-radius: 3px; /* 角の丸み */
  border: 0; /* 枠線を消す */
  transition: 0.3s; /* ホバーの変化を滑らかに */
}

/* ホバー時（カーソルをのせた時）の見た目 */
button:hover {
  background-color: #064fda; /* 背景色 */
}
#contact .form_p{
  display: inline-block;
  width: 9em;
  vertical-align: top;
}
/*-------------------------------------------
フッター
-------------------------------------------*/
#footer {
  background-color: #24292e;
  color: #fff;
  font-size: 0.5rem;
  padding: 10px 20px;
  text-align: center;
}

@media screen and (max-width:600px){
  header{
    /*width: 380px;*/
    width: auto;
    margin: 0;
    padding: 4% 0;
    display: block;
    /*justify-content:space-around;*/
  
  }
  #about{
    /*width:380px;*/
    width:auto ;
    padding: 4% 0;
    margin: 0;
  }
  #about h2{
    text-align: center;
    color:#ff0000;
  }
  #news{
    width: 380px;
    padding: 4% 0;
    margin: 0;
  }
  #news h2{
    text-align: left;
  }
  #works{
    width: 360px;
    padding: 4% 0;
    border: 0px solid #999;
    margin: 0;
  }
  #works h2{
    text-align: left;
  }

  #works ul{
    display: block;
    flex-wrap: wrap;
   flex-direction: column;
  }
  #works ul li{
    list-style: none;
    width: 100%;
   
   }
   #mainvisial{
    /*height: auto;*/
    background-image: url(../images/mainvisual-sp.jpg);
  }
     
  #contact{
    width: 380px;
    padding: 4% 0;
    margin: 0;
  
  }
  #news{
  margin: 0;
}
  #news h2{
    text-align: left;
  }
  #news dl {
    display: inline-block;
    flex-direction: column;
    flex-wrap: wrap;
    border-top: solid 1px #c8c8c8;
  
  }
  #news dt {
      width: 15em;
      line-height: 1em;
      border-bottom: solid 0px #c8c8c8;
      padding-top: 1em;

    }
    #news dd {
      width: 25em;
      line-height: 1em;

  }
  
}
